<!DOCTYPE html>
<html>
    <head>
        <title>LabourFi</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel='stylesheet' type='text/css' href='/stylesheets/app.css'>
        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
    <div class="topnav" id="myTopnav">
      <% if(user.firstName == 'Guest') { %>  
          <a href="#home" class="active">Labourfi</a>
          <a><strong>Logged in as Guest</strong></a>
          <a href="/login" class='light'>Login</a>
      <% } else { %>
          <a href="#home" class="active">Labourfi</a>     
          <a href='#'>Logged in as <strong><%= user.firstName %></strong></a>
          <a href="/logout" class='light'>Logout</a>
      <% } %>    
          <a href="javascript:void(0)" style="font-size:15px;" class="icon" onclick='myFunction()'>&#9776;</a>
    </div>





    

