<% include partials/header %>

<h1 id='chooseEmployeeHeader'>Select the type of worker you are looking for..</h1>

<div id='chooseEmployee'>
	<div>
		<h1>Bricklayer</h1>
		<a href="/employers/viewEmployees/viewBricklayers"><img class='pic1' id='chooseEmployeePics' alt='pic1' src='/bricks.png' /></a>
	</div>
	<div>
		<h1>Manual Labour</h1>	
		<a href="/employers/viewEmployees/viewManual"><img class='pic2' style='margin-left:20px' id='chooseEmployeePics' alt='pic2' src='/shovel.png' /></a>
	</div>
	<div>
		<h1 style='margin-left:30px'>Painter</h1>	
		<a href="/employers/viewEmployees/viewPainters"><img class='pic3' id='chooseEmployeePics' alt='pic3' src='/rollerfix.png' /></a>
	</div>
</div>	

<% include partials/footer %>