<% include partials/header %>

<h1><b>WELCOME TO THE EMPLOYEE HOMEPAGE</b></h1>
<a href="/employees"><button>View Employees</button></a>
<a href="/employees/add"><button>Add An Employee</button></a>


<% include partials/footer %>