<%- include partials/header %>

<h1><b>WELCOME TO THE EMPLOYER HOMEPAGE</b></h1>
<a href="/employers/view/<%= user.id %>"><button>View your profile page</button></a>
<a href="/home"><button>Back to homepage</button></a>

<%- include partials/footer %>