<% include partials/header %>

<h1><b>WELCOME TO THE EMPLOYER HOMEPAGE</b></h1>
<a href="/employers"><button>View Employers</button></a>
<a href="/employers/add"><button>Add An Employer</button></a>


<% include partials/footer %>