<% include partials/header %>

<div class='container mHome'>
	<div class='row'>
		<div class='line col-lg-6'>
			<div>
				<p>Find who you need to get a job done</p>
				<p>Or work for someone who requires your skills</p>
				<p>#Labourfi</p>
			</div>
		</div>
		<div class='divButton col-lg-6'>
			<section>
				<a href='/signup' class='SUB'>Sign up</a>
			</section>
		</div>
	</div>	
</div>
<% include partials/footer %> 