<% include partials/header %>

<h1>Welcome To the LabourFi Homepage!!</h1>

<a href="/employeeHome"><button>Employee Homepage</button></a>

<a href="/employerHome"><button>Employer Homepage</button></a>



<% include partials/footer %>
