<% include partials/header %>

<div class='line'>
	<p class='catch'>Find who you need to get a job done</p>
	<div>
		<p class='catch'>Or work for someone who requires your skills</p>
		<div><p class='catch'>#Labourfi</p></div>
	</div>
</div>

<section>
	<a href='/signup' class='SUB'>Sign up</a>
</section>

<% include partials/footer %> 