<% include partials/header %>

<<<<<<< HEAD
<div class='container'>
	<div class='row'>
		<div class='line col-lg-12 mHome'>
			<p>Find who you need to get a job done</p>
			<p>Or work for someone who requires your skills</p>
			<p>#Labourfi</p>
		</div>
		<div class='divButton col-lg-12'>
			<a href='/signup' class='SUB'>Sign up</a>
=======
<div class='container mHome'>
	<div class='row'>
		<div class='line col-lg-6'>
			<div>
				<p>Find who you need to get a job done</p>
				<p>Or work for someone who requires your skills</p>
				<p>#Labourfi</p>
			</div>
		</div>
		<div class='divButton col-lg-6'>
			<section>
				<a href='/signup' class='SUB'>Sign up</a>
			</section>
>>>>>>> d9dab232e0f11bdd7f1fa7751bb40e1385aad4da
		</div>
	</div>	
</div>
<% include partials/footer %> 