<% include partials/header %>

<div class='container'>
	<div class='col-lg-12'>
		<h1>Login Page</h1>
		<form action="/login" method="post" class="form-horizontal" id='loginForm'>	
			<div class='input-group form-group'>	
				<span class="input-group-addon"><i class='glyphicon glyphicon-envelope'></i></span>
				<input id='to' type='text' class='form-control' name='email' placeholder='Email'>
			</div>
			<div class='input-group form-group'>	
				<span class="input-group-addon"><i class='glyphicon glyphicon-wrench'></i></span>
				<input class='form-control' name='password' type='password' placeholder='Password'> 
			</div>
			<input type="submit" name="Submit">
		</form>
	</div>
</div>	

<% include partials/footer %>