<% include partials/header %>

<div class='container main'>
<<<<<<< HEAD
	<div class="col-lg-4 col-md-4 col-sm-3 hidden-xs"></div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
=======
	<div class='col-lg-3'>
>>>>>>> d9dab232e0f11bdd7f1fa7751bb40e1385aad4da
		<h1 id='logIn'>Login Page</h1>
		<form action="/login" method="post" class="form-horizontal" id='loginForm'>
			<div class='input-group form-group'>	
				<span class="input-group-addon"><i class='glyphicon glyphicon-envelope'></i></span>
				<input id='to' type='text' class='form-control' name='email' placeholder='Email'>
			</div>
			<div class='input-group form-group'>	
				<span class="input-group-addon"><i class='glyphicon glyphicon-wrench'></i></span>
				<input class='form-control' name='password' type='password' placeholder='Password'> 
			</div>
			<input class='btn btn-primary btn-block form' type="submit" name="Submit">
		</form>
	</div>
<<<<<<< HEAD
	<div class="col-lg-4 col-md-4 col-sm-3 hidden-xs"></div>
=======
>>>>>>> d9dab232e0f11bdd7f1fa7751bb40e1385aad4da
</div>	

<% include partials/footer %>