<% include partials/header %>

 <!DOCTYPE html>
 <html>
 <head>
 	<title></title>
 </head>
 <body>
 	<h1>Login Page</h1>

<form action="/login" method="post">
	
	<div>	
		<label>Email</label>
		<input name="email" type="text" placeholder="Email" required>
		
		<label>Password</label>
		<input name="password" type="password" placeholder='password'>
	</div>

<input type="submit" name="Submit">

</form>
 </body>
 </html>


<% include partials/footer %>