<% include partials/header %>


<ul>
	<li>Employer Company:<%= updatedEmployee.employer %></li>
	<li>Employer New Employment: <%= updatedEmployee.employer %></li>
	<a href='/employers'><button>Go back to employers homepage</button><a>
</ul>


<% include partials/footer %>