<% include partials/header %>
  
<div class="container">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <h1 id='employeeReg'>Employee Registration</h1>
    <form method="POST" action="/employees/update/<%= user.id %>">
    <label for="labour" id='write'>Select your labour type..</label>  
    <div> 
      <label id='write'>Manual Labour</label>
      <input type="radio" name="labour" value="Manual Labour">
      <label id='write'>Bricklayer</label>
      <input type="radio" name="labour" value="Bricklayer">
      <label id='write'>Painter</label>
      <input type="radio" name="labour" value="Painter">    
    </div>
    <div class='input-group form-group'>
      <span class="input-group-addon"><i class='glyphicon glyphicon-phone'></i></span>  
      <input name='telephone' type='number' class='form-control' placeholder="Mobile Number" required>
    </div>
    <div class='input-group form-group'>
      <span class="input-group-addon"><i class='glyphicon glyphicon-envelope'></i></span>
            <input id='to' type='text' class='form-control' name='email' placeholder='Email'>
    </div>  
    <div class='input-group form-group'>
      <span class="input-group-addon"><i class='glyphicon glyphicon-wrench'></i></span>
      <input class='form-control' name='password' type='password' placeholder='Password' pattern=".{5,10}" required title="password must be at least 5 - 10 characters long">
    </div>
    <button id='send_email' type='submit' class='btn btn-primary btn-block form'>Update</button>
    </form>
  </div>
  <div class="col-lg-3"></div>
</div>

<% include partials/footer %>