<% include partials/header %>


<ul>
	<li>Employer Company:<%= updatedEmployer.companyName %></li>
	<li>Employer New Employment: <%= updatedEmployer.employments %></li>
	<a href='/employers'><button>Go back to employers homepage</button><a>
</ul>


<% include partials/footer %>