<% include partials/header %>
	
	<p class='question'>Are you...</p>
	<img class='pic' src="https://openclipart.org/download/284855/publicdomainq-0006895gtccoy.svg">
    <div class='employmentbuttons'> 
    		<a class='buttons' id='button1' href='/employerSignup'>Looking to employ...</a> 
    		<a class='buttons' id='button2' href='/employeeSignup'>Looking for employment...</a> 		
	</div>

<% include partials/footer %>
