<%- include partials/header %>

    <div>
    	<h1>Do you want someone for a job, or are you looking for a job?</h1>
    	<div> 
    		<a href='/employerSignup'><button>Employer Signup</button></a> 
    	</div>
    	<div>
    		<a href='/employeeSignup'><button>Employee Signup</button></a>
    	</div>
    </div>



<%- include partials/footer %>
