<% include partials/header %>

<h1><strong>You need to be an EMPLOYER to access that part of the site</strong></h1>

<a href='/employeeHome'><button>Back to the Employee Home</button></a>

<% include partials/footer %>