* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: url(labourfibackground.jpg);
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  background-size: cover;
  z-index: -1;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  background-repeat: no-repeat;
}

form .reg {
    padding: 10%;
    border-radius: 10px;
    background-color: rgba(248,248,248,0.9);
    font-size: 0.9em;
}

#divvy {
  height: 300px;
  border: 10px;
  border-color: #4CAF50;
  word-wrap: break-word;
  overflow-y: scroll;
  text-align: center;
  background: url(paper.jpg);
  color: black;
  border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, white, #C0C0C0); 
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #F7FE27; 
}

/* enable absolute positioning */
.inner-addon {
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  float: left;
}

.SUB {
  text-transform: uppercase;
  font-weight: bold;
  color: #F7FE27;
  font-size: 80px;
  font-family: 'Gloria Hallelujah', sans-serif;
  transition: transform 500ms 100ms;
  padding: 0px;
}

.SUB:hover {
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  transform: scale(1.5);
  color: #F7FE27;
}

.line {
  font-family: 'Libre Baskerville', sans-serif;
  color: #F7FE27;
  font-size: 30px;
  margin-left: 630px;
}

#empPics {
  padding: 30px;
}

#chooseEmployeeHeader {
  font-size: 2vw;
  font-family: 'Libre Baskerville', sans-serif;
  color: #F7FE27;
}

@media screen and (max-width: 1600px){
  .line {
    font-size: 20px;
  }
}

.divButton {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

/*nav bar configuration*/

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.light:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.pic {
  height: 500px;
  width: 500px;
}

.question {
  font-family: 'Libre Baskerville', sans-serif;
  color: #F7FE27;
  font-size: 40px;
}

div.employmentbuttons {
  display: flex;
  flex-direction: column;
  padding: 0;
}

div a.buttons {
  font-family: 'Gloria Hallelujah', sans-serif;
  text-decoration: none;
  font-size: 30px;
  color: #F7FE27;
  transition: all 0.35s ease-in-out;
  transform: scale(1.2);
  margin-left: 370px;
}

#button1:hover {
  transition: transform 500ms 100ms;
  transition: all 0.35s ease-in-out;
  transform: scale(1.5);
  color: #F7FE27;
}

#button2:hover {
  transition: transform 500ms 100ms;
  transition: all 0.35s ease-in-out;
  transform: scale(1.5);
  color: #F7FE27;
}

#employeeReg {
  font-family: 'Libre Baskerville', sans-serif;
  color: #F7FE27;
  margin-left: 60px;
}

.pic1 {
  width: 200px;
  height: 200px;
  transition: transform 500ms 100ms;
}

.pic2 {
  width: 200px;
  height: 200px;
  transition: transform 500ms 100ms;
}

.pic3 {
  width: 200px;
  height: 200px;
  transition: transform 500ms 100ms;
}

#bricklayerBox {
  margin-top: 150px;
}

#selectEmployee {
  position: relative;
  width: 600px;
  height: 600px;
  border: 10px
  border-color: #4CAF50;
  padding: 10px;
  word-wrap: break-word;
  overflow-y: scroll;
  text-align: center;
  background: url(paper.jpg);
  color: black;
  border-radius: 10px;
}

#chooseH1 {
  margin-left: 100px;
  font-family: 'Libre Baskerville', sans-serif;
  color: #F7FE27;
}

#chooseH12 {
  font-family: 'Libre Baskerville', sans-serif;
  color: #F7FE27;
  margin-left: 120px;
}

.H12 {
  margin-left: 120px;
  font-family: 'Libre Baskerville', sans-serif;
  color: #F7FE27;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    background-color: #333;
    z-index: 100;
  }
  .subnav {
    position: fixed;
    background-color: #333;
    width: 700px;
  }
  .topnav.responsive a.icon {
    position: fixed;
    right: 0;
    top: 0;
    left: 93.5px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 800px) {
  #chooseEmployee {
    flex-direction: column;
    margin-top: 0px;
    padding: 0px;
  }
  #chooseEmployeeHeader {
    font-size: 18px;
    margin-left: 15px; 
  }
  .pic1 {
    width: 150px;
    height: 150px;
  }
  .pic2 {
    width: 150px;
    height: 150px;
  }
  .pic3 {
    width: 150px;
    height: 150px;
  }
  #chooseEmployee h1 {
    font-size: 30px;
  }
  #painterHeader {
    margin-left: 10px;
  }
  .line {
    font-size: 18px;
    margin-left: 20px;
  }
  .divButton {
    margin-left: 20px;
    margin-top: 50px;
  }    
}

@media screen and (max-width: 1000px) {
  .line {
    font-size: 20px;
    margin-left: 0px;
  }
  #welcomeBox {
    width: 450px;
    height: 110px;
  }
  .divButton {
    margin-left: 0px;
    margin-top: 50px;
  }
  div#empPics h1 {
    font-size: 25px;
  }
  img#chooseEmployeePics.pic1 {
    height: 170px;
    width: 170px;
  }
  img#chooseEmployeePics.pic2 {
    height: 170px;
    width: 170px;
  }
  img#chooseEmployeePics.pic3 {
    height: 170px;
    width: 170px;
  }
}

@media screen and (max-width: 800px){
  #bricklayerBox {
  }
  #selectEmployee {
    margin-left: 20px;
    width: 400px;
  }
  #chooseH1 {
    margin-left: 10px;
  }
  #chooseH12 {
    margin-left: 80px;
    font-size: 30px;
  }
  .H12 {
    margin-left: 40px;
  }
}

@media screen and (max-width: 600px){
  .mHome {
    margin-top: 50px;
  }
  #whoareyouContainer{
    margin-top: 50px;
  }
  #chooseEmployeeHeader {
    margin-top: 70px;
  }
  img#chooseEmployeePics.pic1 {
    height: 120px;
    width: 120px;
  }
  img#chooseEmployeePics.pic2 {
    height: 120px;
    width: 120px;
  }
  img#chooseEmployeePics.pic3 {
    height: 120px;
    width: 120px;
  }
  div#empPics {
    padding: 5px;
  }
  #chooseEmployee {
    margin-left: 40px;
  }
  div#empPics h1 {
    font-size: 20px;
  }
  #chooseH12 {
    margin-left: 50px;
    font-size: 20px;
  }
  div#chooseEmployee {
    margin-top: 10px;
  }
}

@media screen and (max-width: 900px) {
  .SUB {
    font-size: 70px;
  }
  .SUB:hover {
    transition: all 0.35s ease-in-out;
    transform: scale(1.2);
    color: #F7FE27;
  }
}

@media screen and (max-width: 800px) {
  div a.buttons {
    transition: all 0.35s ease-in-out;
    transform: scale(1.2);
    color: #F7FE27;
  }
}

#fonty {
  font-size: 2vw;
}

@media screen and (max-width: 800px) {
  .question {
    color: #F7FE27;
    font-size: 40px;
  }
  .pic {
    margin-top: 0px;
    margin-left: 0px;
  }
  div.employmentbuttons {
    margin-left: 0px;
  }
  div #button1 {
    margin-left: 155px;
    transition: transform 500ms 100ms;
    font-size: 4vw;
  }

  div #button2 {
    margin-left: 185px;
    transition: transform 500ms 100ms;
    font-size: 4vw;
  }
}

#thehirebutton {
  width: 780px;
}

#CN {
  font-family: 'Libre Baskerville', sans-serif;
  color: #F7FE27;
  font-size: 30px;
  margin-left: 600px;
}

.main {
  display: flex;
  justify-content: center;
  width: 100vw;
  float: left;
  margin-top: 330px;
}

#chooseEmployee {
  display: flex;
  margin-top: 350px;
  font-family: 'Libre Baskerville', sans-serif;
  color: #F7FE27;
}

@media screen and (max-width: 1200px) {
  #button1 {
    margin-left: 100px;
  } 
  #button2 {
    margin-left: 180px;
  } 
  .question {
    margin-left: 300px;
  }
  .employmentbuttons {
    margin-left: 85px;
  }
  .pic {
    margin-left: 100px;
  }
  #writing {
    text-align: left;
  }
  #hireButton {
    margin-left: 0px;
  }
  #fonty {
    font-size: 25px;
  }
  #CN {
    margin-left: 330px;
  }
  .main {
    margin-top: 10px;
  }
  #chooseEmployee {
    margin-top: 100px;
  }

  #bricklayerBox {
    margin-top: 0px;
  }

  .line {
    margin-left: 200px;
  }

  .divButton {
    margin-left: 200px;
  }

  body {
    background: url(labourfibackgroundEdited.jpg);
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background-size: cover;
    z-index: -1;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

#employmentsBox {
  margin-top: 200px;
}

@media screen and (max-width: 991px){
  #CN {
    margin-left: 200px;
  }
}

@media screen and (max-width: 768px){
  #CN {
    margin-left: 10px;
    font-size: 22px;
  }
  #employmentsBox {
    margin-top: 40px;
    margin-left: 12px;
  }
  .Emp {
    padding-bottom: 10px;
  }
}

#writing {
  text-align: center;
  font-family: 'Libre Baskerville', sans-serif;
  color: #F7FE27;
}

#welcomeBox {
  display: flex;
  flex-wrap: wrap;
  width: 780px;
  font-family: 'Libre Baskerville', sans-serif;
  color: #F7FE27;
}

#coupled {
  display: flex;
  flex-direction: row;
  margin-left: 300px;
}

.PS {
  margin-top: 20px;
  margin-left: 10px;
  width: 50px;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  p.question {
    font-size: 8vw;
    margin-left: 2vw;
  }
  img.pic {
    width: 80vw;
    height: 50vh;
    margin-left: 0px;
  }
  #welcomeBox {
    margin-left: 20px;
    margin-top: 50px;
  }
  #coupled {
    margin-left: 40px;
    margin-right: 0px;
    flex-direction: column;
  }
  .PS {
    margin-top: 0px;
    width: 10px;
  }
  div #button1 {
    margin-left: 55px;
    transition: transform 500ms 100ms;
    font-size: 5vw;
  }
  div #button2 {
    margin-left: 75px;
    transition: transform 500ms 100ms;
    font-size: 5vw;
  }
  .employmentbuttons {
    margin-left: 30px;
  }
  #writing {
    margin-top: 60px;
    font-size: 6vw;
  }
  #employeeReg {
    margin-top: 60px;
    margin-left: 0px;
    font-size: 6vw;
  }
  #bricklayerBox {
    margin-top: 50px;
    margin-left: 0px;
  }
  div#selectEmployee {
    width: 300px;
    height: 500px;
    margin: 0px;
  }
  div#bricklayerBox.container {
    padding: 0px;
  }
  .line {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 60px;
  }
  .divButton {
    margin-left: 10px;
    margin-top: 50px;
  }
}

#welcomeBox ul {
  list-style: none;
}

@media screen and (max-width: 900px){
  .question {
    margin-left: 150px;
  }
  .pic {
    margin-left: 20px;
  }
  #coupled {
    margin-left: 0px;
  }
  .employeeWC {
    margin-left: 0px;
  }
  #divvy {
    position: relative;
    width: 300px;
    height: 200px;
    border: 10px;
    padding: 10px;
    word-wrap: break-word;
    overflow-y: scroll;
    text-align: center;
    color: black;
    border-radius: 10px;
    background: url(paper.jpg);
    border-color: none;
  }
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    background: #71A4DE;
}

#but {
  visibility: visible;
}


.popup .show {
    visibility: visible;
    animation: fadeIn 1s;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #71A4DE transparent transparent transparent;
}

@keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

#inputs {
    padding: 2px; 
    border: 2px solid #ccc; 
    border-radius: 5px;
    color: #4CAF50;
} 

#inputs:focus {
    border-color: #333;
}

#hero {
  color: #F7FE27;
}

#empDetails {
  font-size: 1em;
  font-family: 'Libre Baskerville', sans-serif;
}

#deleteForm {
  width: 140px;
}

.profileSettings {
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  visibility: visible;
}

#hireButton {
  text-transform: uppercase;
  font-weight: bold;
  color: #F7FE27;
  font-size: 2vw;
  font-family: 'Gloria Hallelujah', sans-serif;
  transition: transform 500ms 100ms;
  padding: 0px;
  border: none;
  background: none;
  outline: inherit;
  margin-left: 300px;
}

#hireButton:hover {
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  transform: scale(1.5);
  color: #F7FE27;
}

@media screen and (max-width: 900px) {
  #hireButton {
    margin-left: 67px;
    margin-top: 20px;
    font-size: 20px;
  }
}

#chooseEmployeePics:hover {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  transform: scale(1.5);
}

#painterHeader {
  margin-left: 30px;
}

#loginForm {
  border-radius: 10px;
}

#logIn {
  margin-left: 10px;
  font-family: 'Libre Baskerville', sans-serif;
  color: #F7FE27;
  display: flex;
  justify-content: center;
}

.employeeWC {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 450px;
  font-family: 'Libre Baskerville', sans-serif;
  color: #F7FE27;  
}

@media screen and (max-width: 800px){
  .employeeWC {
    margin-left: 30px;
  }
}

.dateOfBirth {
  display: flex;
}

#write {
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 15px;
}

#updateEmHeader {
  margin-left: 800px;
  font-family: 'Libre Baskerville', sans-serif;
  color: #F7FE27;
}

[class*="col-"] {
    float: left;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 768px) {
    .main {
      margin-top: 50px;
      padding-right: 20px;
    }
}


